@charset "utf-8";
/*
Intro Styles
Description:    Layout and element specific styling for the Intro page
Author:         Benjamin Wiederkehr
Start:          100525_BW
Last update:    130609_BW

/* OVERRIDES
/////////////////////////////////////////////////////////////////*/
h3{ font-family: "ff-netto-web",sans-serif;}

/* LAYOUT
/////////////////////////////////////////////////////////////////*/
body{ background: #efefec;}
header{ position: relative; margin: 30px 0 0;}
.intro_container { width:470px; margin:0 auto;}
.intro_content{ padding: 32px 0 30px;}

/* HEADER
/////////////////////////////////////////////////////////////////*/
header h1       { height: 110px; width: 230px; margin: 0;}
header h1 a     { display: block; height: 110px; width: 230px; background: url('../img/logos/benjaminwiederkehr_logo_dark.png') -20px 0 no-repeat;}
header h1 a img	{ margin: 0 0 0 -20px; float: none;}
header p        { width: 250px; font: italic 14px/18px "Georgia", Georgia, serif; color: #aaa;}

.photobooth     { position: absolute; top: 20px; right: 0; height: 190px; padding: 0; box-shadow: 0 5px 4px -4px rgba(0,0,0,0.2);}
.photobooth img { 
  padding: 5px; 
  background: #fff; 
  border: 1px solid #e3e3e0; 
  border-bottom: 1px solid #C7C7C4; 
  margin: 0;
  width: 178px;
  height: 178px;
}

.badge { position: absolute; top: 0px; right: -20px; display: block; width: 62px; height: 62px; background: url('../img/badge.png') 0 0 no-repeat; text-indent: -99999px;}
.badge:hover { background: url('../img/badge.png') 0 -72px no-repeat;}

/* SLIDER
/////////////////////////////////////////////////////////////////*/
.coda-slider-wrapper { border-bottom: 1px solid #fff; border-radius: 2px; margin-top: -1px;}
.coda-slider {
  background: #e3e3e0; 
  border:1px solid #d7d7d5;
  border-top:none;
  border-radius: 2px;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
  margin-top: -1px;
}
.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
.coda-slider,
.coda-slider .panel { width: 468px;}
.coda-slider-wrapper.arrows .coda-slider,
.coda-slider-wrapper.arrows .coda-slider .panel { width: 468px }
.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }
.coda-slider .panel-content { padding: 30px 0 2px 0 }
.coda-slider .panel-content ul{ margin: 0; padding: 0; list-style: none;}
.coda-slider .panel-content ul li			{ padding: 0 0 0 10px; margin: 0 0 28px; min-height: 32px;}
.coda-slider .panel-content ul.cols-2 li{ margin: 0 0 28px 0; width: 220px; float: left;}
.coda-slider .panel-content ul.cols-2 li.last{ }
.coda-slider .panel-content ul li a  		{ display: block; font-weight: normal;}
.coda-slider .panel-content ul li img	{ float: left; margin: 0;}
.coda-slider .panel-content ul li h3,
.coda-slider .panel-content ul li a h3{ margin: 0 0 0 40px; margin-bottom: 0; font-weight: bold;}
.coda-slider .panel-content ul li h3 a{ font-weight: bold;}
.coda-slider .panel-content ul li p  		{ margin: 0 0 0 40px; font-size: 11px; color: #aaa;}
.coda-slider .panel-content ul li p a	{ color: #aaa;}
.coda-slider .panel-content ul li p strong{ color: #444;}
.coda-slider .panel-content p.read_more { text-align: right; padding: 0 10px; margin-bottom: 10px;}
.coda-slider .panel-content p.read_more a{ color: #aaa; font-size: 11px;}
.coda-slider .panel-content p.read_more a:hover{ color: #444; font-size: 11px;}

.coda-nav-left a,
.coda-nav-right a { }
.coda-nav ul { clear: both; display: block; margin: auto; overflow: hidden; position: relative; top: 2px; z-index: 9999;}
.coda-nav ul li { display: inline }
.coda-nav ul li a { 
  border: 1px solid transparent;
  border-bottom: none;
  border-top: none;
  border-radius: 2px;
  color: #bbb;
  display: block; 
  float: left;
  font-size: 11px; 
  font-weight: normal; 
  padding: 5px 10px; 
  text-decoration: none; 
  text-transform: uppercase; 
}
.coda-nav ul li a:hover{ 
  color: #444;
}
.coda-nav ul li a.current { 
  background: #e3e3e0; 
  border: 1px solid #d7d7d5; 
  border-top: none;
  border-bottom: none;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
  color: #444; 
}
.coda-slider p.loading { padding: 20px; text-align: center; margin: 0;}
.coda-slider p.loading img { float: none; margin: 20px 0;}
.coda-slider-wrapper { clear: both; overflow: auto }
.coda-slider { float: left; overflow: hidden; position: relative }
.coda-slider .panel { display: block; float: left }
.coda-slider .panel-container { position: relative }
.coda-nav-left,
.coda-nav-right { float: left }
.coda-nav-left a,
.coda-nav-right a { display: block; text-align: center; text-decoration: none }

.sub_headline { 
  text-transform: uppercase; 
  font-size: 12px; 
  font-weight: normal;
  border-bottom: 1px solid #d7d7d5;
  margin: 0 10px 2em;
  line-height: 1.5;
  color: #bbb;
}

/* LARGE ICONS
/////////////////////////////////////////////////////////////////*/
.bio p{ 
  padding: 0 20px;
}
.bio .sub_headline{
  margin: 0 20px 2em;
}

/* LARGE ICONS
/////////////////////////////////////////////////////////////////*/
.icon-large{
  color: #fff;
  width: 32px;
  height: 32px;
  display: block;
  box-sizing: border-box;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  float: left;
  padding: 8px;
  font-size: 16px;
  box-shadow: 0 1px 0px rgba(255,255,255,0.5);
  top: 0;
  transition: top 200ms, color 100ms, background-color 200ms, box-shadow 200ms;
  position: relative;
}
.icon-large.hover{
  color: #fff;
  top: -3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.icon-large-interactivethings.hover{
  background-color: #21d9b7;
}
.icon-large-datavisualization.hover{
  background-color: #d9212d;
}
.icon-large-substratum.hover{
  background-color: #6e6e90;
}
.icon-large-hackshackers.hover{
  background-color: #333;
}
.icon-large-opendata.hover{
  background-color: #39ace5;
}
.icon-large-wiederkehr.hover{
  background-color: #54727f;
}
.icon-large-twitter.hover{
  background-color: #009fd0;
}
.icon-large-facebook.hover{
  background-color: #3a5897;
}
.icon-large-tumblr.hover{
  background-color: #33516e;
}
.icon-large-linkedin.hover{
  background-color: #4774b3;
}
.icon-large-google.hover{
  background-color: #c53c2c;
}
.icon-large-pinterest.hover{
  background-color: #e03037;
}
.icon-large-github.hover{
  background-color: #3e90ca;
}
.icon-large-phone.hover{
  background-color: #333;
}
.icon-large-mail.hover{
  background-color: #333;
}

/* CALENDAR
/////////////////////////////////////////////////////////////////*/
.cal{
  color: #333;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  padding: 1px 0 0 0;
  text-transform: uppercase;
}
.cal.hover{
  color: #333;
  box-shadow: 0 2px 1px rgba(0,0,0,0.2);
}
.upcoming-dates .cal{
  background-color: #d9212d;
}
.past-dates .cal{
  background-color: #999;
  color: #999;
}
.cal_month{
  color: #fff;
  display: block;
  font-size: 8px;
  line-height: 8px;
  margin-bottom: 2px;
  text-align: center;
}
.cal_day{
  display: block;
	font-family: "ff-netto-web",sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -1px;
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* MEDIA QUERIES
/////////////////////////////////////////////////////////////////*/
@media (max-width: 480px) {
  .intro_container { width: 320px;}
  .coda-slider,
  .coda-slider .panel,
  .coda-slider-wrapper.arrows .coda-slider,
  .coda-slider-wrapper.arrows .coda-slider .panel { width: 318px }
  .badge{ display: none;}
  .photobooth img { box-sizing: border-box; width:100%; width: 80px; height: 80px;}
  .photobooth { top: 10px; width: 80px; height: 80px;}
}