/* LAYOUT
/////////////////////////////////////////////////////////////////*/
body{ font: 18px/1.5em 'Cutive Mono', monospace; }
.letters_container {
  width: 90%;
  margin: 36px 5% 72px;
}
header{
  position: relative;
  margin: 0;
}
article{
  margin: 0;
}
/* HEADER
/////////////////////////////////////////////////////////////////*/
header p{
  text-align: right;
}
/* ARTICLE
/////////////////////////////////////////////////////////////////*/
article header h1{
  font-size: 2em;
  margin-bottom: 1em;
}
article section p{
  margin-bottom: 2em;
  hyphens: auto;
}
article section a{
  font-weight: normal;
  color: #222;
}
article section a:hover{
  color: #000;
}

/* LETTERS
/////////////////////////////////////////////////////////////////*/
.letters                { text-align: center;}
.letters .section-title { margin-bottom: 50px; font-size: 18px; text-transform: none;}
.letter-list            { text-align: center;}

.letter                 { display: inline-block;}
.letter__link > *       { box-sizing: border-box;}
.letter__date           { color: #aaa; display: block; font-size: 14px; height: 33%; padding-top: 40px;}
.letter__title          { margin: 0; display: block; height: 33%; padding-top: 40px;}
.letter__readmore       { color: #aaa; display: block; font-size: 14px; height: 33%; opacity: 0; padding-top: 40px; transition: opacity 0.2s;}
.letter__link:hover .letter__readmore{ opacity: 1;}

.letter__link {
  display: block;
  height: 320px;
  position: relative;
  width: 280px;
  background-color: #FFF;
  background-image:
    linear-gradient(
      hsla(0,0%,0%,.01),
      hsla(0,0%,100%,.04) 33%,
      hsla(0,0%,0%,.03) 33%,
      hsla(0,0%,100%,.04) 67%,
      hsla(0,0%,0%,.03) 67%,
      hsla(0,0%,100%,.02));
  box-shadow: 0 .1em .25em rgba(0,0,0,0.1);
  transition: box-shadow 0.2s;
}
.letter__link:hover{
    box-shadow: 0 .2em .5em rgba(0,0,0,0.2);
}

.remark { border-top: 1px solid #d4d5d3; clear: both; font-size: 14px; color: #aaa; margin-top: 50px; padding-top: 30px;}

/* MEDIA QUERIES
/////////////////////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 480px) {
  body{
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .letters-item h2    { margin: 60px 0 36px;}
  .letters-item-date  { top: -1.5em; left:0;}
}
@media (min-width: 768px) {
  .letters_container {
      width: 720px;
      margin: 36px auto 72px;
  }
}
