@charset "utf-8";
/*
Notes Styles
Description:    Layout and element specific styling for talks
Author:         Benjamin Wiederkehr
Start:          140211_BW
Last update:    160531_BW

/* OVERRIDE
/////////////////////////////////////////////////////////////////*/
h1, h2 { font-family: "ff-netto-web",sans-serif;}
h2     { margin:  1.8em 0 1em;}
h3     { font-weight: bold; margin-bottom: 0.5em;}
h3.ui  { color: #aaa; font-size: 10px; font-weight: normal; margin-bottom: 2px; text-transform: uppercase;}

/* HEADER
/////////////////////////////////////////////////////////////////*/
#header         	{ height: 170px; padding-top: 30px;}
#header h1				{ font-size: 44px; margin: 0; letter-spacing: -2.5px; line-height: 1; font-family: "ff-netto-web",sans-serif;}
#header h1 a    	{ display: block; color: rgba(200, 200, 200, 0.9); text-shadow: 0 1px 0px #fff, 0 0 0 #444; transition: color 0.2s;}
#header h1 a:hover{ color: rgba(60, 60, 60, 0.9);}
#header .title    { font-weight: bold; display: block;}
#header .subtitle { font-weight: normal; display: block;}

/* CONTENT
/////////////////////////////////////////////////////////////////*/
#content			    { padding-bottom: 72px; float: right;}
#content-header   { height: 170px; padding-top: 30px;}
#content-header h1{ margin-top: 95px;}

@media (max-width: 767px) {
  #header           { height: auto;}
  #content-header   { height: auto;}
  #content-header h1{ margin-top: 0;}
}

/* TALKS
/////////////////////////////////////////////////////////////////*/
.talks              { }
.talks h3.ui        { padding-bottom: 2px; margin-bottom: 15px; border-bottom: 3px solid #d4d5d3;}
.talks-item         { border-bottom: 1px solid #d4d5d3; position: relative;}
.talks-item h2      { margin:  36px 0;}
.talks-item h2 a    { display: block; transition: padding 0.2s;}
.talks-item h2 a:hover{ padding-left: 30px;}
.talks-item h2 a svg{ position: absolute; left: 0; opacity: 0; transition: opacity 0.2s;}
.talks-item h2 a:hover svg{ opacity: 1; transition: opacity 0.2s 0.1s;}
.talks-item-date    { font: italic 14px/18px "Georgia", Georgia, serif; color: #aaa; position: absolute; right: 0; top: 5px;}
@media (max-width: 767px) {
  .talks-item h2    { margin: 60px 0 36px;}
  .talks-item-date  { top: -1.5em; left:0;}
}

/* TALK
/////////////////////////////////////////////////////////////////*/
.talk         { }
.talk h3.ui   { padding-bottom: 2px; margin-bottom: 15px; border-bottom: 3px solid #d4d5d3;}
.talk h3.ui span.talk-date--right{ float: right;}
.talk-body    { border-bottom: 1px solid #d4d5d3; padding-bottom: 36px; margin-top: 36px; margin-bottom: 36px;}
.talk-body a:hover{ text-decoration: underline;}

.talk-body p{
  clear: left;
}
.talk-body img{
  box-shadow:  0px 1px 3px 0px rgba(170, 170, 170, 1);
  width: 50%;
}

@media (max-width: 979px) {
  .talk-body img{
    width: 100%;
  }
}

.pagination   { clear: both; font-size: 11px; position: relative;}
.pagination a { color: #aaa;}
.pagination a:hover { color: #444;}
.pagination-previous{ float: left;}
.pagination-next{ float: right;}
.pagination-overview{ position: absolute; left: 50%; width: 100px; text-align: center; margin-left: -50px;}

/*
SECONDARY
/////////////////////////////////////////////////////////////////*/
.secondary                { color: #aaa;}
.secondary a              { color: #aaa; font-weight: bold; text-decoration: none; transition: color 0.2s;}
.secondary a:hover        { color: #444;}
.secondary p              { font-size: 11px; margin: 0 0 40px;}
.secondary ul             { font-size: 11px; list-style: none; margin: 0 0 40px; padding: 0;}
.secondary ul li a        { line-height: 20px; display: block; border-bottom: 1px solid #d4d5d3;}
.secondary ul li a:hover  { text-decoration: none; border-bottom: 1px solid #aaa; outline: none;}
.secondary ul li a.active { border-bottom: 1px solid #bbb; color: #444;}
.secondary dl             { font-size: 11px; margin: 0 0 40px;}
.secondary dt             { float: none; margin-top: 1em;}

/* SIDEBAR
/////////////////////////////////////////////////////////////////*/
#sidebar                { float: left;}
#sidebar h3.ui          { padding-bottom: 2px; margin-bottom: 15px; border-bottom: 3px solid #d4d5d3;}
#sidebar p.sidebar-lead { font: italic 14px/21px "Georgia", Georgia, serif; color: #aaa; margin-top: 36px;}
#sidebar ul.icons svg   { float: right; font-size: 12px; margin-top: 4px;}

/*
CREDITS
/////////////////////////////////////////////////////////////////*/
#credits        { color: #aaa; padding-bottom: 60px;}
#credits h3.ui  { padding-bottom: 2px; margin-bottom: 15px; border-bottom: 3px solid #d4d5d3;}
