@charset "UTF-8";
/*
Tumblr
Description:	Tumblr specific styling
Author:				Benjamin Wiederkehr
Start:				100526_BW
Last update:	180104_BW

/*
HEADER
/////////////////////////////////////////////////////////////////*/
#header						{ height: 170px; position: relative; padding: 30px 0 0;}
#header h1				{ font-size: 44px; margin: 0; letter-spacing: -2.5px; line-height: 1; font-family: "ff-netto-web",sans-serif;}
#header h1 a    	{ display: block; color: rgba(200, 200, 200, 0.9); text-shadow: 0 1px 0px #fff, 0 0 0 #444; transition: color 0.2s;}
#header h1 a:hover{ color: rgba(60, 60, 60, 0.9);}
#header .title    { font-weight: bold; display: block;}
#header .subtitle { font-weight: normal; display: block;}
/*
CONTENT
/////////////////////////////////////////////////////////////////*/
#content			{ padding: 0 0 30px;}
h2						{ margin-top: 0;}
.post					{ border-top: 1px solid #d4d5d3; margin-bottom:36px;}

.post_title			{ border-top: 2px solid #d4d5d3; position: relative ; min-height: 144px; padding-top: -2px;}
.post_title			{ min-height: 0; height: auto;}
.post_title dl	{ margin: 1.5em 0;}
.post_title h2	{ margin: 15px 0;}

.post_content   { padding: 1.5em 0;}
.post_content ul,
.post_content ol{ margin: 0 0 0 1.5em;}

.post_content img{ box-shadow:  0px 1px 3px 0px rgba(170, 170, 170, 1); width: 100%;}

.person					{ width: 60px; color: #ddd; display: block; float: left;}

dl				{ line-height: 18px; font-size: 10px;}
dt				{ width: 60px; color: #bbb; clear: left;}
dd				{ margin-left: 60px; color: #aaa; font-weight: bold;}
dd a			{ color: #aaa;}
dd a:hover{ color: #444;}

h3.ui			{ color: #bbb; font-size: 10px; margin-bottom: 2px; text-transform: uppercase;}
h2				{ font-family: "ff-netto-web",sans-serif;}

/*
SIDEBAR
/////////////////////////////////////////////////////////////////*/
#sidebar a							{ color: #aaa; font-weight: bold; text-decoration: none;}
#sidebar a:hover				{ color: #444;}
#sidebar p							{ font-size: 11px; margin: 0 0 40px;}
#sidebar p.lead					{ font: italic 14px/21px "Georgia", Georgia, serif; color: #aaa;}
#sidebar h3							{ color: #bbb; font-size: 10px; margin-bottom: 15px; padding-bottom: 2px; text-transform: uppercase; border-bottom: 3px solid #d4d5d3;}
#sidebar ul							{ list-style: none; margin: 0 0 40px; padding: 0;}
#sidebar ul li					{ font-size: 11px; }
#sidebar ul li a				{ line-height: 20px; display: block; border-bottom: 1px solid #d4d5d3;}
#sidebar ul li a:hover	{ text-decoration: none; border-bottom: 1px solid #bbb; outline: none;}
#sidebar ul.icons svg   { float: right; font-size: 12px; margin-top: 4px;}

.sidebar_content p			{ color: #bbb;}

.pagination{ margin: 0; padding: 1.5em 0; border-top: 3px solid #d4d5d3; font-size: 12px;}
.pagination a{ color: #aaa;}
.pagination a:hover{ color: #333;}
.pagination .aligned-right{ text-align: right;}
.pagination .aligned-center{ text-align: center;}
